body {
    overflow-x: hidden;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #21573D black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;

}

*::-webkit-scrollbar-track {
    background: rgb(176, 167, 167);
}

*::-webkit-scrollbar-thumb {
    background-color: #21573D;
    border-radius: 20px;
    border: 3px solid white;
}